$main-bg:#fff;
$main-color:#000;
$main-color-hover:#000;
$main-color-red:#e12929;
$main-color-red-hover:#c50000;
$main-content-bg:#fff;

$main-menu-color:#000;
$main-menu-color-hover:#000;
$main-menu-bg:#fff;
$main-menu-bg-hover:#fff;

$main-menu-current-color:#000;
$main-menu-current-bg:#fff;
$main-menu-current-bg-hover:#000;

$submenu-color:#000;
$submenu-menu-bg:#fff;
$submenu-menu-bg-hover:#000;

$skype-color:#00aff0;