@import "../lib/bootstrap/scss/bootstrap.scss";

@import "../sass/_vars.scss";
@import "../sass/_mixin.scss";
@import "../sass/_icon_fonts.scss";
@import "../lib/font-awesome/scss/font-awesome.scss";

body{
	font-family:$main-font;
	}
img
	{
	height: auto;
	max-width: 100%;
	}
ul,li{
	padding:0;
	margin:0;
	list-style:none;
	}
a{
	text-decoration:none;
	}
.site-btn{
	@include site-btn($main-color-red-hover,$main-color-hover,$main-color-red,$main-color);
	}
